<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <link href="../static/css/estilos.css" rel="stylesheet" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section><h1>este es el titulo de im pagina</h1></section>
        <aside> <h1>digamso</h1>
        
            <p>text</p>
        </aside>
        <div>TODO write content</div>
    </body>
</html>